body {
  margin: 0;
  background-color: #564154;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 58px; /* height of the footer */
  overflow: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #564154;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about {
  padding: 25px;
}

.nav {
  height: 100px;
}

header {
  background-color: #779fa1;
}

/* my work styles*/

.my-work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-gap: 20px;
  height: 700px;
  overflow: hidden;
  z-index: 9999;
  max-width: 100vw;
  margin-top: 25px;
}

.grid-item {
  border: solid;
  background-position: center;
  background-size: cover;
}

.box1 {
  background-image: url("./assets/images/box1.jpg");
}

.box2 {
  background-image: url("./assets/images/box2.jpg");
}

.box3 {
  background-image: url("./assets/images/box3.jpg");
}

.box4 {
  background-image: url("./assets/images/box4.jpg"); 
}

.box5 {
  background-image: url("./assets/images/box5.jpg");
}

.box6 {
  background-image: url("./assets/images/box6.jpg");
}

.grid-box {
  height: 300px;
  margin: 25px;
}

.proj-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-work-wrapper {
  width: 60%;
  background: cover;
}

.section-title {
  border-right: 5px solid var(--secondary-color);
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}

.my-work {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: var(--primary-color);
  scroll-margin-top: 5em;
}

.content-wrap {
  padding: 25px;
}

.projDeets {
  color: white;
  opacity:0;
  transition:1s;
  height: 100%;
  display: flex;
}

.projDeets:hover {
  opacity:1;
}

@media screen and (max-width: 980px) {

}
